sample-api/src/main/mule/sample-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="sample-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="sample-api-config" api="resource::5b969c6c-cc89-42be-9af2-4e9a85bb9ab2:sample-api:1.0.3:raml:zip:sample-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="c14341d9-62b4-45d3-a8fc-6717f61cc1d0" basePath="/api" >
		<http:request-connection protocol="HTTPS" host="datausa.io" />
	</http:request-config>
	<flow name="sample-api-main">
        <http:listener config-ref="sample-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sample-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="sample-api-console">
        <http:listener config-ref="sample-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sample-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\population:sample-api-config">
		<http:request method="GET" doc:name="Request" doc:id="69057fe9-75ed-4b59-b799-66a413ab0ba5" config-ref="HTTP_Request_configuration" path="/data">
			<http:query-params ><![CDATA[#[output application/java
---
{
	drilldowns : "Nation",
	measures : "Population"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="5fb4ef1f-a960-48ab-b67b-a89e751e9e0b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"data": [{
		"id": "01000US",
		"nation": "United States",
		"year": 2020,
		"population": 326569308,
		"SlugNation": "united-states"
	}, {
		"id": "01000US",
		"nation": "United States",
		"year": 2019,
		"population": 324697795,
		"slugNation": "united-states"
	}, {
		"id": "01000US",
		"nation": "United States",
		"year": 2018,
		"population": 322903030,
		"slugNation": "united-states"
	}, {
		"id": "01000US",
		"nation": "United States",
		"year": 2017,
		"population": 321004407,
		"slugNation": "united-states"
	}, {
		"id": "01000US",
		"nation": "United States",
		"year": 2016,
		"population": 318558162,
		"slugNation": "united-states"
	}, {
		"id": "01000US",
		"nation": "United States",
		"year": 2015,
		"population": 316515021,
		"slugNation": "united-states"
	}, {
		"id": "01000US",
		"nation": "United States",
		"year": 2014,
		"population": 314107084,
		"slugNation": "united-states"
	}, {
		"id": "01000US",
		"nation": "United States",
		"year": 2013,
		"population": 311536594,
		"slugNation": "united-states"
	}],
	"source": [{
		"measures": ["Population"],
		"annotations": {
			"source_name": "Census Bureau",
			"source_description": "The American Community Survey (ACS) is conducted by the US Census and sent to a portion of the population every year.",
			"dataset_name": "ACS 5-year Estimate",
			"dataset_link": "http://www.census.gov/programs-surveys/acs/",
			"table_id": "B01003",
			"topic": "Diversity",
			"subtopic": "Demographics"
		},
		"name": "acs_yg_total_population_5",
		"substitutions": []
	}]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
